<!DOCTYPE html>
<html lang="cs">
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Citát dne</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body style="background-image: url(https://source.unsplash.com/c2Y16tC3yO8/1600x900);" th:style="${onePicture}">
<blockquote><strong style="color: #ffff58" th:text="${nameQuotation}"></strong></br><em th:text="${textQuotation}"></em></blockquote>
</body>
</html>
